:root{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 2rem; */
    /* width: fit-content; */
    max-width: 700px;
    margin: auto;
    justify-content: center;
    
   
    
    
}
.header{
    display: flex;
    /* float: right; */
    justify-content: end;
    
   
}
.header button{
    font-size: 13px;
    background-color: black;
    color: white;
    height: min-content;
    padding: 6px;
    padding-inline: 10px;
    border: none;
    border-right: 1px solid white;
    /* text-decoration: underline; */
   
    /* border-left:1px solid white ; */
    
    
}

.header a:hover,.header button:hover{
    background-color: aqua;
    cursor: pointer;
   
}

.homepage{
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    padding: auto;
    font-size: 15px;
    display: block;
    margin-top: 3rem;
    
   
    
}
.profile{
    position: relative;
    
    height: 200px;
    border: 1px solid white;
   border-radius: 100%;
    
    
}
.profile-container{
    border: 1px solid white;
  

}
.heading{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    border: 1px dotted white;
}
.homepage p{
    font-size: 14px;
    font-weight: 14;
    padding: 10px;
}

/* SKILLS */
.skill-heading{
    text-align: center;
    font-size: 30px;
    background-color: rgb(27, 17, 17);
    margin-top: 3rem;
}

.skillset{
    display: block;
    text-align: center;

    

}
.skillset img{
    height: 30px;
    width: 30px;
    padding: 10px;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1rem;

}
.skillset img:hover{
    background-color: aqua;
    cursor: pointer;
}



/* projects */

.project-heading{
    text-align: center;
    background-color: rgb(27, 17, 17);
    font-size: 30px;
    margin-top:3rem ;
}
.project{
    text-align: center;
    border: 1px solid white;
    padding-inline:10px ;
    margin-top: 10px;
    position:static;
    height: auto;
    margin-bottom: 20px;
    
    
}
.project p{
    text-align: left;
    font-size: 14px;
}
.project h3{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}
.project-link{
    padding-bottom: 10px;
    text-align: right;
}

.project-link a{
    border: 1px solid white;
    padding: 3px;
    font-style: italic;
    background-color: white;
    color: black;
    
        
}
.project-link a:hover{
    background-color: aqua;
}
/* .section{
    
    display: grid;
} */

/* EDUCATION */

.education-heading{
    background-color: rgb(27, 17, 17);
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;

}
.course{
    border: 1px solid white;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    
}
.college{
    font-style: italic;
    font-size: 14px;
    

}


